---
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import getArchives from "../../lib/getArchives";
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";

export async function getStaticPaths() {
  const archives = await getArchives();
  const years = Object.values(archives);

  return years
    .map((y) =>
      Object.values(y.months).map((m) => ({
        params: {
          year: y.label.toString(),
          month: m.label,
        },
        props: {
          posts: m.posts,
        },
      }))
    )
    .flat();
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { year, month } = Astro.params as Params;
const { posts } = Astro.props;
const title = `${month} ${year}`;
---

<Layout title={title}>
  <h1>{title}</h1>
  <p>{posts.length} posts</p>
  <Posts posts={posts} />
</Layout>
