---
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import getArchives from "../../lib/getArchives";
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";
import TitleLockup from "../../components/TitleLockup.astro";

export async function getStaticPaths() {
  const years = await getArchives();

  return years.map((y) => ({
    params: {
      year: y.label.toString(),
    },
    props: y,
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { year } = Astro.params as Params;
const { months, post_count } = Astro.props as Props;
---

<Layout title={year}>
  <Fragment slot="before-content">
    <TitleLockup Heading="h1" title={year}>{post_count} posts</TitleLockup>
    {months[0] ? <h2 class="first">
      <a href={`/${year}/${months[0].label}`}>{months[0].label}</a>
    </h2> : null}
  </Fragment>
  {
    months.map((m, i) => (
      <>
        {i > 0 ? <h2>
          <a href={`/${year}/${m.label}`}>{m.label}</a>
        </h2> : null}
        <Posts posts={m.posts} />
      </>
    ))
  }
</Layout>

<style>
  .first {
    margin-bottom: 0;
  }

  @media (max-width: 900px) {
    h2:not(.first) {
      padding-left: var(--gap-1);
      padding-right: var(--gap-1);
    }
  }
</style>
