---
import type { InferGetStaticPropsType } from "astro";
import Layout from "../../layouts/Layout.astro";
import getTags from "../../lib/getTags";
export async function getStaticPaths() {
  const tags = await getTags();

  return Object.values(tags).map((t) => ({
    params: {
      tag: t.name,
    },
    props: t,
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { name, posts, count } = Astro.props;
const title = `Tag: ${name}`;
---

<Layout title={title}>
  <h1>{title}</h1>
  <p>{count} posts</p>
  <ul>
    {
      posts.map((p) => (
        <li>
          <a href={`/${p.slug}`} set:html={p.title} />
        </li>
      ))
    }
  </ul>
</Layout>
