---
import Shadowbox from "../components/Shadowbox.astro";
import TitleLockup from "../components/TitleLockup.astro";
import Layout from "../layouts/Layout.astro";
import getPosts from "../lib/getPosts";
import type { Post } from "../schemas/post";

const posts = await getPosts().then((posts: Post[]) => posts.map(p => ({
  slug: p.slug,
  title: p.title,
  excerpt: p.excerpt,  
})));
---

<Layout title="404: Page not found">
  <Shadowbox>
    <TitleLockup Heading="h1" title="404: Not found" />
    <p>Sad trombone. Here are things you might've meant:</p>
    <ul id="nearmisses" />
  </Shadowbox>
</Layout>

<script define:vars={{posts}}>
  const sadslug = location.pathname.slice(1); // the thing that's 404ing
  const links = posts.filter(p => p.slug.startsWith(sadslug));
  const ul = document.querySelector("#nearmisses");

  ul.appendChild(document.createElement('li')).innerHTML =
    `<code>blog.beeminder.com/${sadslug}</code> &nbsp; &mdash; &nbsp; ` + 
    `what you typed or clicked on`;

  if (links.length === 0) {
    ul.appendChild(document.createElement('li')).innerHTML =
      "(actually we've no idea what you might've meant here, sorry)";
  }

  for (const l of links) {
    ul.appendChild(document.createElement('li')).innerHTML =
      `<a href="${l.slug}" title="${l.excerpt}">` + 
        `<code>blog.beeminder.com/${l.slug}</code>` +
      `</a> &nbsp; &mdash; &nbsp; ${l.title}`;
  }
</script>