---
import Shadowbox from "../components/Shadowbox.astro";
import TitleLockup from "../components/TitleLockup.astro";
import Layout from "../layouts/Layout.astro";
import getPosts from "../lib/getPosts";
import type { Post } from "../schemas/post";
//import { get as levenshtein } from 'fast-levenshtein'; // works locally?
import Levenshtein from 'levenshtein';

const sadslug = new URL(Astro.request.url).pathname.slice(1); // what's 404'ing

// Fetch the full list of posts
const posts = await getPosts().then((posts: Post[]) => posts.map(p => ({
  slug: p.slug,
  title: p.title,
  excerpt: p.excerpt,  
})));

// Find the post with the closest slug to the sad one that's 404'ing
let cpost = '';
let mindist = Infinity;
for (const p of posts) {
    const dist = new Levenshtein(sadslug, p.slug).distance;
  if (dist <= mindist) { mindist = dist; cpost = p } // break ties by recency
}
console.log(`DEBUG: closest to ${sadslug} is ${cpost.slug} (${mindist})`);
---

<Layout title="404 Not Found!">
  <Shadowbox>
    <TitleLockup Heading="h1" title="404 Not Found!" />
<!-- embarrassed bee image from beeminder.com but maybe not canonical link:
https://www.beeminder.com/assets/sadbee-e89491e7c1ea7c8568c8cdf0d19ff41acc079cc17f15277bed6fcf0b0928255d.png
-->
    <p>Sad trombone. Here are things you might've meant:</p>
    <ul id="nearmisses" />
  </Shadowbox>
</Layout>

<script define:vars={{posts, cpost}}>

const sadslug = location.pathname.slice(1); // the thing that's 404ing
const links = posts.filter(p => p.slug.startsWith(sadslug));
const ul = document.querySelector("#nearmisses");

ul.appendChild(document.createElement('li')).innerHTML =
  `<code>blog.beeminder.com/${sadslug}</code> &nbsp; &mdash; &nbsp; ` + 
  `what you typed or clicked on`;

// Don't want this now cuz we always show at least the closest levenshtein hit:
//if (links.length === 0) {
//}

for (const l of links) {
  ul.appendChild(document.createElement('li')).innerHTML =
    `<a href="${l.slug}" title="${l.excerpt}">` + 
      `<code>blog.beeminder.com/${l.slug}</code>` +
    `</a> &nbsp; &mdash; &nbsp; ${l.title}`;
}

if (links.length === 0) {
  ul.appendChild(document.createElement('li')).innerHTML =
    `<a href="${cpost.slug}" title="${cpost.excerpt}">` + 
      `<code>blog.beeminder.com/${cpost.slug}</code>` +
    `</a> &nbsp; &mdash; &nbsp; ${cpost.title}`;
  // Or maybe if cpost is too far away, do this instead:
  // ul.appendChild(document.createElement('li')).innerHTML =
  //   "(actually we've no idea what you might've meant here, sorry)";
}

</script>