---
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags.astro";
import getPosts from "../lib/getPosts";
import Shadowbox from "../components/Shadowbox.astro";
import PostMeta from "../components/PostMeta.astro";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((p) => ({
    params: {
      post: p.slug,
    },
    props: p,
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.params as Params;
const { content, title, tags, disqus, excerpt, image } = Astro.props as Props;

const posts = await getPosts();

const postIndex = posts.findIndex((p) => p.slug === post);
const newer = posts[postIndex - 1];
const older = posts[postIndex + 1];
---

<Layout title={title} description={excerpt} image={image?.src}>
  <Shadowbox>
    <div class="nav">
      {
        newer && (
          <a
            class="older"
            href={`/${newer.slug}`}
            set:html={`« ${newer.title}`}
          />
        )
      }
      {
        older && (
          <a
            class="newer"
            href={`/${older.slug}`}
            set:html={`${older.title} »`}
          />
        )
      }
    </div>

    <PostMeta
      post={Astro.props}
      includeExcerpt={false}
      linkTitle={false}
      Heading="h1"
    />

    <div set:html={content} />
  </Shadowbox>

  <Shadowbox>
    <Tags tags={tags} />
    <a href=`/${post}`>Permalink</a>
  </Shadowbox>

  <Shadowbox>
    <div id="disqus_thread" data-url={disqus.url} data-identifier={disqus.id}>
    </div>
  </Shadowbox>
</Layout>

<script is:inline>
  var disqus_config = function () {
    const thread = document.getElementById("disqus_thread");
    if (!thread) throw new Error("could not find disqus thread");
    this.page.url = thread.dataset.url;
    this.page.identifier = thread.dataset.identifier;
  };

  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://beemblog.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<style>
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav a {
    flex-grow: 1;
  }

  .newer {
    text-align: right;
  }
</style>
