---
import PostMeta from "../components/PostMeta.astro";
import Posts from "../components/Posts.astro";
import Shadowbox from "../components/Shadowbox.astro";
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";
import getPosts from "../lib/getPosts";

const posts = await getPosts({
  sort: true
});
const featured = posts[0];
---

<Layout
  title="Beeminder blog"
  previous={{
    url: "/page/2",
    title: "Older Entries",
  }}
>
  {
    featured && (
      <Shadowbox padding={2}>
        <Typography sans={true}>
          {featured.image && (
            <a class="thumbnail" href={`/${featured.slug}`}>
              <img
                src={featured.image.src}
                alt={featured.image.alt}
                title={featured.image.alt}
                width="500"
                height="500"
              />
            </a>
          )}
          <PostMeta post={featured} class="featured-meta" />
        </Typography>
      </Shadowbox>
    )
  }
  <Posts posts={posts.slice(1, 10)} />
</Layout>

<style>
  .thumbnail {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: var(--gap-1);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  .featured-meta :global(h2) {
    font-size: 2.5em;
  }
</style>
