---
import PostMeta from "../components/PostMeta.astro";
import Posts from "../components/Posts.astro";
import Shadowbox from "../components/Shadowbox.astro";
import Layout from "../layouts/Layout.astro";
import getPosts from "../lib/getPosts";

const posts = await getPosts();
const featured = posts[0];
---

<Layout
  title="Home"
  previous={{
    url: "/page/2",
    title: "Older Entries",
  }}
>
  {
    featured && (
      <Shadowbox padding={2}>
        <div class="content">
          {featured.image && (
            <a class="thumbnail" href={`/${featured.slug}`}>
              <img
                src={featured.image.src}
                alt={featured.image.alt}
                title={featured.image.alt}
                width="500"
                height="500"
              />
            </a>
          )}
          <PostMeta post={featured} class="featured-meta" />
        </div>
      </Shadowbox>
    )
  }
  <Posts posts={posts.slice(1, 6)} />
</Layout>

<style>
  .thumbnail {
    display: table;
    margin: 0 auto;
    margin-bottom: var(--gap-1);
  }

  img {
    object-fit: cover;
  }

  .featured-meta :global(h2) {
    font-size: 2.5em;
  }
</style>
