---
import type { Post } from "../lib/makePost";

interface Props {
  post: Post;
  includeExcerpt?: boolean;
  Heading?: string;
  linkTitle?: boolean;
  class?: string;
}

const {
  post,
  includeExcerpt = true,
  linkTitle = true,
  Heading = "h2",
  class: className,
} = Astro.props;
---

<div class:list={["post-meta", className]}>
  <Heading>
    {
      linkTitle ? (
        <a href={`/${post.slug}`} set:html={post.title} />
      ) : (
        <span set:html={post.title} />
      )
    }
  </Heading>
  <small>
    <span class="date">{post.date_string}</span>
    <span class="separator">•</span>
    <span class="author">
      by <a href={`/authors/${post.author}`}>{post.author}</a>
    </span>
  </small>
  {includeExcerpt && <p class="excerpt">{post.excerpt}</p>}
</div>

<style>
  .post-meta {
    flex: 1 0 275px;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    overflow: hidden;
  }

  .excerpt {
    margin-bottom: 0;
  }
</style>
