---
import type { Post } from "../lib/makePost";
import Shadowbox from "./Shadowbox.astro";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<ul class="posts">
  {
    posts.map((p) => (
      <li>
        <Shadowbox>
          <div class="content">
            {p.image && (
              <a class="thumbnail" href={`/${p.slug}`}>
                <img
                  src={p.image.src}
                  alt={p.image.alt}
                  title={p.image.alt}
                  width="200"
                  height="200"
                />
              </a>
            )}
            <div class="meta">
              <h2>
                <a href={`/${p.slug}`} set:html={p.title} />
              </h2>
              <p>{p.date_string}</p>
              <p>
                By <a href={`/authors/${p.author}`}>{p.author}</a>
              </p>
              <p>{p.excerpt}</p>
            </div>
          </div>
        </Shadowbox>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .thumbnail {
    flex-shrink: 0;
  }

  .meta {
    flex: 1 0 275px;
    max-width: 100%;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.5rem 0;
  }

  img {
    margin-right: var(--gap);
    object-fit: cover;
  }
</style>
