---
import type { Post } from "../lib/makePost";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((p) => (
      <li>
        {p.image && (
          <a href={`/${p.slug}`}>
            <img
              src={p.image.src}
              alt={p.image.alt}
              title={p.image.alt}
              width="200"
              height="200"
            />
          </a>
        )}
        <div>
          <h2>
            <a href={`/${p.slug}`} set:html={p.title} />
          </h2>
          <p>{p.date_string}</p>
          <p>
            By <a href={`/authors/${p.author}`}>{p.author}</a>
          </p>
          <p>{p.excerpt}</p>
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
    display: flex;
  }

  li > a {
    flex-shrink: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.5rem 0;
  }

  img {
    margin-right: 1rem;
    object-fit: cover;
  }
</style>
