---
import type { Post } from "../schemas/post";
import PostMeta from "./PostMeta.astro";
import Shadowbox from "./Shadowbox.astro";
import Typography from "./Typography.astro";
import {Image} from 'astro:assets';

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div class="posts">
  <ul>
    {
      posts.map((p) => (
        <li>
          <Shadowbox>
            <Typography small sans>
                {p.image && (
                  <a class="thumbnail" href={`/${p.slug}`}>
                    <Image
                      src={p.image.src}
                      alt={p.image.alt}
                      title={p.image.title}
                      width="200"
                      height="200"
                    />
                  </a>
                )}
                <div class="post-meta"><PostMeta post={p} /></div>
            </Typography>
          </Shadowbox>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .thumbnail {
    margin-bottom: var(--gap-1);
    display: block;
  }

  img {
    height: auto;
    max-height: 200px;
    object-fit: contain;
    object-position: left;
    margin-bottom: 0;
    display: block;
  }

  .post-meta {
    overflow: hidden;
  }

  @container (min-width: 600px) {
    .thumbnail {
      margin-bottom: 0;
      margin-right: var(--gap-1);
      float: left;
    }

    img {
      width: 130px;
      object-position: center;
    }
  }
</style>
