---
import type { Post } from "../schemas/post";
import TitleLockup from "./TitleLockup.astro";

interface Props {
  post: Post;
  includeExcerpt?: boolean;
  Heading?: string;
  linkTitle?: boolean;
  class?: string;
}

const {
  Heading,
  post,
  includeExcerpt = true,
  linkTitle = true,
  class: className,
} = Astro.props;
---

<div class:list={["post-meta", className]}>
  <TitleLockup
    Heading={Heading}
    title={post.title}
    href={linkTitle ? `/${post.slug}` : undefined}
  >
    {post.date_string} • by <a href={`/authors/${post.author}`}>{post.author}</a
    >
  </TitleLockup>
  {includeExcerpt && <p class="excerpt">{post.excerpt}</p>}
</div>

<style>
  .post-meta {
    flex: 1 0 275px;
    max-width: 100%;
  }

  .excerpt {
    margin: 0;
  }
</style>
