---
import getTags from "../lib/getTags";
import Archives from "./Archives.astro";
import Icon from "./Icon.astro";
import Shadowbox from "./Shadowbox.astro";
import Typography from "./Typography.astro";
import { strings } from "../i18n";

const tags = await getTags();
const sha: string | undefined = import.meta.env.RENDER_GIT_COMMIT;
---

<div class="sidebar">
  <Shadowbox>
    <form action="https://duckduckgo.com">
      <button type="submit" aria-label={strings.search.submit}
        ><Icon name="search" /></button
      >
      <input
        name="q"
        placeholder={strings.search.placeholder}
        aria-label={strings.search.placeholder}
      />
      <input type="hidden" name="sites" value="blog.beeminder.com" />
    </form>
  </Shadowbox>
  <Shadowbox>
    <Typography sans>
      <h3>{strings.sidebar.aboutHeading}</h3>
      <p set:html={strings.sidebar.aboutLede} />
      <p set:html={strings.sidebar.aboutBlog} />
    </Typography>
  </Shadowbox>
  <Archives />
  <Shadowbox>
    <Typography sans>
      <h3>{strings.sidebar.dogfoodHeading}</h3>
      <a href="http://beeminder.com/meta/blog">
        <img
          alt={strings.sidebar.dogfoodAlt}
          title={strings.sidebar.dogfoodTitle}
          src="https://www.beeminder.com/meta/blog/graph?style=thumb"
          width="160"
        />
      </a>
    </Typography>
  </Shadowbox>
  <Shadowbox>
    <Typography sans>
      <h3>{strings.sidebar.startHereHeading}</h3>
      <p set:html={strings.sidebar.startHere} />
    </Typography>
  </Shadowbox>
  <Shadowbox>
    <Typography sans>
      <h3>{strings.sidebar.tagsHeading}</h3>
      <ul>
        {
          tags.slice(0, 20).map((t) => (
            <li>
              <a href={`/tags/${t.name}`}>
                {t.name} ({t.count})
              </a>
            </li>
          ))
        }
        <li>
          <a href="/tags">{strings.sidebar.moreTags(tags.length - 20)}</a>
        </li>
      </ul>
    </Typography>
  </Shadowbox>
  <Shadowbox>
    <Typography sans>
      <h3>{strings.sidebar.communityHeading}</h3>
      <p set:html={strings.sidebar.community} />
    </Typography>
  </Shadowbox>
  <Shadowbox>
    <Typography sans>
      <h3>{strings.sidebar.akrasiaHeading}</h3>
      <p set:html={strings.sidebar.akrasiaDefinition} />
      <p set:html={strings.sidebar.akrasiaWikipedia} />
    </Typography>
  </Shadowbox>
  {
    sha && (
      <a
        id="sha"
        class="sha"
        href={`https://github.com/beeminder/blog/commit/${sha}`}
      >
        {sha.slice(0, 7)}
      </a>
    )
  }
</div>

<style>
  h3 {
    margin-top: 0;
  }

  .sidebar :global(.shadowbox > .typography > *:last-child) {
    margin-bottom: 0;
  }

  form {
    display: flex;
    align-items: center;
  }

  form button {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0;
    padding-right: 1em;
  }

  form input {
    border: 0;
    outline: 0;
    flex-grow: 1;
  }

  .sha {
    font-size: 0.8em;
    opacity: 0.5;
    display: block;
    text-align: right;
  }
</style>
