---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Pagination from "../components/Pagination.astro";

import sourcesanspro700 from "@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff2";
import sourcesanspro900 from "@fontsource/source-sans-pro/files/source-sans-pro-latin-900-normal.woff2";
import lora from "@fontsource-variable/lora/files/lora-latin-wght-normal.woff2";

export interface Props {
  title: string;
  description?: string | undefined;
  image?: string | undefined;
  previous?:
    | {
        title: string;
        url: string;
      }
    | undefined;
  next?:
    | {
        title: string;
        url: string;
      }
    | undefined;
}

const { title, description, image, previous, next } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" as="font" href={sourcesanspro700} type="font/woff2" />
    <link rel="preload" as="font" href={sourcesanspro900} type="font/woff2" />
    <link rel="preload" as="font" href={lora} type="font/woff2" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title set:html={`${title} | Beeminder Blog`} />

    <link rel="canonical" href={canonicalUrl} />
    {description && <meta name="description" content={description} />}

    <meta property="og:title" content={title} />
    <meta property="og:url" content={canonicalUrl} />
    {description && <meta property="og:description" content={description} />}
    {image && <meta property="og:image" content={image} />}

    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  </head>
  <body>
    <Header />

    <Pagination class="nav" previous={previous} next={next} />

    <div class="content">
      <div>
        <slot />
        <Pagination class="nav" previous={previous} next={next} />
      </div>
      <div><Sidebar /></div>
    </div>

    <style>
      .nav {
        max-width: var(--content-width);
        margin: 0 auto;
        padding: var(--gap-1) var(--gap-2) 0 var(--gap-2);
      }
      .next {
        text-align: right;
        flex-grow: 1;
      }
      .content {
        display: flex;
        padding: var(--gap-1) var(--gap-2);
        max-width: var(--content-width);
        margin: 0 auto;
      }
      .content > *:first-child {
        flex: 1 0 500px;
        max-width: 100%;
      }
      .content .nav {
        padding: 0 0 var(--gap-1) 0;
      }
      .content > *:last-child {
        flex: 0 0 300px;
        padding-left: var(--gap-1);
      }

      @media (max-width: 900px) {
        .nav,
        .content .nav {
          padding-left: var(--gap-1);
          padding-right: var(--gap-1);
        }
        .content {
          flex-direction: column;
          padding-left: 0;
          padding-right: 0;
        }
        .content > *:last-child {
          padding-left: 0;
        }
      }
    </style>

    <style is:global>
      /*
      WORKAROUND:
      @fount-source's CSS custom property for font-display doesn't currently work,
      so we have to redeclare the font-face rules here in order to set font-display
      to auto.
      https://github.com/fontsource/fontsource/issues/726
      https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display
      */

      @font-face {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-display: auto;
        font-weight: 700;
        src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff2)
            format("woff2"),
          url(@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff)
            format("woff");
      }

      @font-face {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-display: auto;
        font-weight: 900;
        src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-900-normal.woff2)
            format("woff2"),
          url(@fontsource/source-sans-pro/files/source-sans-pro-latin-900-normal.woff)
            format("woff");
      }

      @font-face {
        font-family: "Lora Variable";
        font-style: normal;
        font-display: auto;
        font-weight: 400 700;
        src: url(@fontsource-variable/lora/files/lora-latin-wght-normal.woff2)
          format("woff2-variations");
      }

      :root {
        --primary: #cc0000;
        --secondary: #ffcb06;
        --black: #3b3b3b;

        --gap-1: 1rem;
        --gap-2: 2rem;
        --gap-3: 3rem;

        --line-height: 1.5em;
        --line-height-headings: 1.2em;

        --font-family: "Lora Variable", serif;

        --content-width: 1200px;
      }
      * {
        box-sizing: border-box;
      }
      *:not(h1, h2, h3, h4, h5) {
        line-height: var(--line-height);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h1 > *,
      h2 > *,
      h3 > *,
      h4 > *,
      h5 > * {
        line-height: var(--line-height-headings);
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
      }
      html {
        background-color: #eee;
        font-family: sans-serif;
        color: var(--black);
      }
      body {
        margin: 0;
      }
      a {
        color: var(--primary);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      img {
        max-width: 100%;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      p,
      .pullquote,
      blockquote,
      ul,
      ol {
        font-family: var(--font-family);
      }
      .pullquote {
        float: right;
        width: 15rem;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        font-family: Georgia, serif;
        font-weight: 200;
        font-style: italic;
        font-size: 1.2em;
        line-height: var(--line-height);
        padding: var(--gap-1);
        margin-left: var(--gap-2);
      }
      .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </body>
</html>
