---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description?: string | undefined;
  image?: string | undefined;
  previous?:
    | {
        title: string;
        url: string;
      }
    | undefined;
  next?:
    | {
        title: string;
        url: string;
      }
    | undefined;
}

const { title, description, image, previous, next } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | Beeminder Blog</title>

    <link rel="canonical" href={canonicalUrl} />
    {description && <meta name="description" content={description} />}

    <meta property="og:title" content={title} />
    <meta property="og:url" content={canonicalUrl} />
    {description && <meta property="og:description" content={description} />}
    {image && <meta property="og:image" content={image} />}

    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  </head>
  <body>
    <Header />

    <div class="nav">
      {
        previous && (
          <a class="previous" href={previous.url}>
            « {previous.title}
          </a>
        )
      }
      {
        next && (
          <a class="next" href={next.url}>
            {next.title} »
          </a>
        )
      }
    </div>

    <div class="content">
      <div>
        <slot /><div class="nav">
          {
            previous && (
              <a class="previous" href={previous.url}>
                « {previous.title}
              </a>
            )
          }
          {
            next && (
              <a class="next" href={next.url}>
                {next.title} »
              </a>
            )
          }
        </div>
      </div>
      <div><Sidebar /></div>
    </div>
    <style>
      .nav {
        display: flex;
        justify-content: space-between;
        max-width: var(--content-width);
        margin: 0 auto;
        padding: var(--gap-1) var(--gap-3) 0 var(--gap-3);
      }
      .next {
        text-align: right;
        flex-grow: 1;
      }
      .content {
        display: flex;
        padding: var(--gap-1) var(--gap-2);
        max-width: var(--content-width);
        margin: 0 auto;
      }
      .content > *:first-child {
        flex: 1 0 500px;
        max-width: 100%;
      }
      .content .nav {
        padding: 0 var(--gap-1) var(--gap-1) var(--gap-1);
      }
      .content > *:last-child {
        flex: 0 0 300px;
        padding-left: var(--gap-1);
      }

      @media (max-width: 900px) {
        .nav {
          padding-left: var(--gap-1);
          padding-right: var(--gap-1);
        }
        .content {
          flex-direction: column;
          padding-left: 0;
          padding-right: 0;
        }
        .content > *:last-child {
          padding-left: 0;
        }
      }
    </style>

    <style is:global>
      :root {
        --primary: #cc0000;
        --secondary: #ffcb06;

        --gap-1: 1rem;
        --gap-2: 2rem;
        --gap-3: 3rem;

        --line-height: 1.35em;
        --line-height-headings: 1.2em;
        --content-width: 1200px;
      }
      * {
        box-sizing: border-box;
      }
      *:not(h1, h2, h3, h4, h5) {
        line-height: var(--line-height);
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h1 > *,
      h2 > *,
      h3 > *,
      h4 > *,
      h5 > * {
        line-height: var(--line-height-headings);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #eee;
      }
      body {
        margin: 0;
      }
      a {
        color: var(--primary);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      img {
        max-width: 100%;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      .pullquote {
        float: right;
        width: 15rem;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        font-family: Georgia, serif;
        font-weight: 200;
        font-style: italic;
        font-size: 1.2em;
        line-height: var(--line-height);
        padding: var(--gap-1);
        margin-left: var(--gap-2);
      }
      .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </body>
</html>
