---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Pagination from "../components/Pagination.astro";

import sourcesanspro700 from "@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff2";
import sourcesanspro900 from "@fontsource/source-sans-pro/files/source-sans-pro-latin-900-normal.woff2";
import lora from "@fontsource-variable/lora/files/lora-latin-wght-normal.woff2";

import "../styles/global.css";
import "../styles/slideshow.css";

export interface Props {
  title: string;
  description?: string | undefined;
  image?: string | undefined;
  previous?:
    | {
        title: string;
        url: string;
      }
    | undefined;
  next?:
    | {
        title: string;
        url: string;
      }
    | undefined;
}

const defaultImage = new URL('/wp-content/uploads/2022/04/small_logo_bee_256.png', Astro.site);
const defaultDescription = 'Beeminder is goal-tracking with teeth. We plot your progress on a graph with a Bright Red Line (formerly Yellow Brick Road). If your datapoints cross that line, we take your money. The Beeminder blog is a hodgepodge of productivity nerdery and behavioral economics written by the founders and various friends.';
const { title, description = defaultDescription, image = defaultImage, previous, next } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="preload"
      as="font"
      href={sourcesanspro700}
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href={sourcesanspro900}
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href={lora}
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <title set:html={`${title} | Beeminder Blog`} />

    <link rel="canonical" href={canonicalUrl} />
    <meta name="description" content={description} />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

    <meta property="og:title" content={title} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <script src="../scripts/slideshow.ts"></script>
  </head>
  <body>
    <Header />

    <Pagination class="nav" previous={previous} next={next} />

    <div class="content">
      <div>
        <slot />
        <Pagination class="nav" previous={previous} next={next} />
      </div>
      <div><Sidebar /></div>
    </div>

    <style>
      .nav {
        max-width: var(--content-width);
        margin: 0 auto;
        padding: var(--gap-1) var(--gap-2) 0 var(--gap-2);
      }
      .next {
        text-align: right;
        flex-grow: 1;
      }
      .content {
        --sidebar-width: 300px;

        display: flex;
        padding: var(--gap-1) var(--gap-2);
        max-width: var(--content-width);
        margin: 0 auto;
      }
      .content > *:first-child {
        flex: 1 0 500px;
        max-width: calc(100% - var(--sidebar-width));
      }
      .content .nav {
        padding: 0 0 var(--gap-1) 0;
      }
      .content > *:last-child {
        flex: 0 0 var(--sidebar-width);
        padding-left: var(--gap-1);
      }

      @media (max-width: 900px) {
        .nav,
        .content .nav {
          padding-left: var(--gap-1);
          padding-right: var(--gap-1);
        }
        .content {
          flex-direction: column;
          padding-left: 0;
          padding-right: 0;
        }
        .content > *:first-child {
          max-width: 100%;
        }
        .content > *:last-child {
          padding-left: 0;
        }
      }
    </style>
  </body>
</html>
