---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";

const sha: string | undefined = import.meta.env.RENDER_GIT_COMMIT;

export interface Props {
  title: string;
  redirect?: string;
}

const { title, redirect } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | Beeminder Blog</title>

    {redirect && <meta http-equiv="refresh" content={`0; url=${redirect}`} />}

    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  </head>
  <body>
    <Header />
    <div class="content">
      <div><slot /></div>
      <div><Sidebar /></div>
    </div>
    <div class="footer">
      {
        sha && (
          <a href={`https://github.com/beeminder/blog/commit/${sha}`}>{sha}</a>
        )
      }
    </div>
  </body>
</html>

<style>
  .content {
    display: flex;
    padding: var(--gap);
  }
  .content > *:first-child {
    flex-grow: 1;
  }
  .content > *:last-child {
    flex: 0 0 300px;
    padding-left: 1em;
  }
</style>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --gap: 1rem;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a {
    color: rgb(var(--accent));
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .pullquote {
    float: right;
    width: 300px;
    border: 1px solid gray;
    padding: var(--gap);
    margin-left: var(--gap);
  }
</style>
